/* Pagination Container */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Pagination Unordered List */
  .pagination {
    display: inline;
    list-style: none;
    padding: 0;
  }
  
  /* Pagination Items */
  .page-item {
    margin: 0 5px;
  }
  
  /* Pagination Links */
  .page-link {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .page-link:hover,
  .page-link:focus {
    background-color: #0056b3;
    outline: none;
  }
  
  /* Active Page Link */
  .page-link.active {
    background-color: #004494;
    border-color: #00275e;
  }
  